body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px; /* Add some padding around the main container */
}

#slideshowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; /* Make it responsive to the viewport width */
  max-width: 50vw; /* Set a max-width to prevent it from becoming too large */
  min-height: 100vh; /* Minimum height to take up more viewport space */
  background-color: #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slideshow h1 {
  text-align: center; /* Center the text horizontally */
  font-size: 2em; /* Increase the font size */
  color: #fff; /* Change the color to white or any color you prefer */
  margin: 0 auto; /* Center the heading and remove default margin */
  padding: 20px 0; /* Add some padding above and below the heading */
}

div.loadedPicture {
  width: 100%; /* Ensure it takes the full width of its container */
  background-color: #fff; /* White background for the image */
  display: flex; /* Use flex to center the image */
  justify-content: center; /* Center the image horizontally */
  padding: 20px; /* Add some padding around the image */
  padding-bottom: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.loadedPicture img {
  max-width: 100%; /* Ensure image does not overflow its container */
  max-height: 400px; /* Adjust based on your preference */
  margin-bottom: 10px; /* Space between image and caption */
}

#captionText {
  color: #fff;
  padding-top: 20px; /* Space between caption and gallery */
  margin-bottom: 20px; /* Space between caption and gallery */
}

.image-gallery {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.image-thumbnail {
  width: calc(25% - 10px); /* Four images per row, adjust margin */
  margin-bottom: 10px; /* Space between rows of images */
}
