* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: beige;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

header,
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form itself */
  width: 75%; /* Adjust as necessary */
}

form div {
  display: flex;
  justify-content: space-between; /* Ensures labels and inputs are on opposite ends */
  align-items: center; /* Vertically aligns items in the middle */
  width: 100%; /* Ensures the div takes the full width of the form */
  padding: 10px;
}

form label {
  width: 30%; /* Fixed width for labels */
  text-align: left; /* Aligns the label text to the right */
  padding-right: 10px; /* Adds some space between the label and the input */
}

form input {
  min-width: 40%; /* Fixed width for inputs */
  margin-left: 20px;
}

.contact_block {
  padding: 10px;
  background-color: rgb(175, 175, 160);
}

.contact_heading {
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: rgb(175, 175, 160);
}

.info_heading {
  font-weight: bold;
  background-color: rgb(175, 175, 160);
}

.info_detail,
.tag,
.tag_link {
  background-color: rgb(175, 175, 160);
}

#contact_search_bar {
  display: inline;
  padding: 13px;
}

#contact_add,
#tag_add,
#submit_button {
  max-width: 70px;
  line-height: 0.75rem;
  margin: 10px;
}
